/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.container-home {
  background-color: $red;
  color: white;
  text-align: center;
  .lead {
    margin: 15px 15px 30px 15px;
    .brand-home {
      width: 100%;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .feature {
    margin-bottom: 15px;
    &-icon {
      margin-bottom: 15px;
      width: 120px;
    }
    p {
      font-size: 18px;
    }
  }
  a {
    color: $red;
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .fb-connect {
    padding: 15px;
    background-color: white;
    width: 100%;
    .fb-icon {
      width: 22px;
    }
  }
}

