/* -------------------------------------
 * SASS code SPECIFIC TO your home page
 * (margin/padding adjustments, background image, etc..)
 * ------------------------------------- */

.container-home {
  background-color: $red;
  color: white;
  text-align: center;
  .lead {
    margin: 15px 0 30px 0;
    .brand-home {
      width: 80%;
      margin-bottom: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .feature {
    margin-bottom: 15px;
    &-icon {
      margin-bottom: 15px;
      width: 60px;
    }
    #people {
      width: 80px;
    }
    p {
      font-size: 16px;
    }
  }
  a {
    width: 100%;
    &:hover {
      text-decoration: none;
    }
  }
  .fb-connect {
    color: $red;
    padding: 15px;
    background-color: white;
    width: 100%;
    .fb-icon {
      width: 16px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

