.post-new {
  text-align: center;
  padding: 15px 30px;
  .line-name {
    font-size: 20px;
  }
  .waiting-since {
    color: $red;
    text-align: center;
    margin-bottom: 15px;
    #timer-frame {
      margin: 0 auto;
      background-color: $red;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      padding-top: 20px;
      padding-left: 20px;
      border: 1px solid $red;
      display: block;
      background-image: none;
      #timer {
        padding-top: 45px;
        width: 130px;
        height: 130px;
        border-radius: 50%;
        background-color: white;
        font-size: 30px;
        font-weight: 300;
        border: 1px solid $red;
      }
    }
  }
  label.classic-label {
    font-weight: 300;
    float: left;
  }
  .form-control {
    box-shadow: none;
    color: $red;
    resize: none;
    height: 150px;
    border: 2px solid $red;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 10px;
  }
  .btn {
    color: white;
    border-radius: 10px;
    &-red {
      background-color: $red;
      padding: 10px 30px;
    }
    &-gray {
      background-color: #9B9B9B;
      font-size: 14px;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}