.thanks {
  padding: 15px 15px 120px 15px;
  text-align: center;
  h3 {
    color: $red;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  p {
    padding-left: 50px;
    padding-right: 50px;
  }
}