<div class="container">
  <div class="row">
    <div class="co-xs-12">
      <div class="thanks">
        <h3>
          Merci !
        </h3>
        <p>
          Aide-nous à faire connaître weQueue
        </p>
        <div class="social">
          <%= social_share_button_tag("Découvrez weQueue !", url: "http://www.wequeue.com", image: image_url('logo-rs.png'), desc: "Queue less, party more", via: "wequeue") %>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <%= link_to authenticated_root_path do %>
    <%= image_tag 'small-loupe-icon.png', class: "search-central" %>
  <% end %>
</footer>