/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  border: none;
  margin: 0;
  text-align: center;
  color: white;
  transition: all 0.1s linear;
  &-info {
    color: $green;
    background: white;
  }
  &-warning {
    color: $red;
    background: white;
  }
}